*{
    margin:0px;
    padding:0px;
}
 ul li {
    display: inline;
    padding: 10px 5px;
    list-style: none;
}
nav{
    background-color: rgba(189, 218, 145, 0.425);
    padding-top: 10PX;
    padding-bottom: 15PX;
}
.wrapper nav a li{
    text-decoration: none;
}
.icon ul li:hover{
    background:linear-gradient(45 deg,rgb(189, 218, 145), wheat);
    color: white;
}
.icon ul li a {
    color: white;
}
.wrapper{
    width: 1170px;
    margin: auto;

}
body{
    background: url("doc.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    position: relative;
    background-repeat: no-repeat;
}
.nav{
    float: right;
    list-style: none;
    margin-top: -30px;
    padding-right: 20px;
    text-decoration: none;
}
.nav a{
    color: whitesmoke;
    text-decoration: none;
    font-size: 15px;

}
nav li:hover{
    background-color: wheat;
    color: rgb(129, 184, 48);
    text-decoration: none;
}
.logo img{
    width: 200px;
    height: 80px;
    border-radius: 50px;
    margin-top: 15px;

}
.logo h2{
    padding-left: 200px;
    font-size: 15px;
    color: rgb(9, 155, 247);
    margin-top: -40px;
    font-weight: bolder;
    font-style: italic;

}
.welcometext h1{
    text-align: center;
    padding-top: 20px;
    color: whitesmoke;
    font-style: italic;
}
.welcometext p{
    text-align: center;
    font-size: 30px;
    color: black;
    padding-top: 30px;
}
.play a{
    padding-left: 5px;
    font-size: 15px;
    border: 1px solid;
    text-decoration: none;
    color: wheat;

}
.dis{
    float: right;
    box-shadow: 0 0 6px 0 rgb(71, 170, 231);
    margin-right: 10px;
    width: 200px;
    height: 220px;
    background: rgba(71, 170, 231, 0.603);
}
.dis h2{
    color: black;
    text-align: center;
    padding-top: 10px;
    font-style: italic;
}
.dis a, .three p a{
    text-decoration: none;
    background-color: rgb(71, 170, 231);
    font-size: 17px;
    padding: 10px 15px;
    color: #fff;
    border-radius: 10px;
}
.dis a:hover{
    background: rgb(44, 28, 28);
}
.three p a:hover{
    background: rgb(44, 28, 28);
}
.two{
    
    padding: 5px 5px;
    margin-left: 100px;
    margin-top: 20px;
}


footer{
    
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background: rgba(68, 107, 10, 0.966);
}
.content{
    width: 40%;
    margin: auto;
    padding: 10px;
    text-align: center;
    color: aliceblue;
}    
.content .logo{
    width: 70px;
    border-radius: 50%;
}
.content .social{
   padding: 10px;
}
.content .social a{
    text-decoration: none;
    color: blueviolet;
    background: #fff;
    border-radius: 50%;
}
hr{
    width: 80%;
    margin: 20px 10%;
}
.copyright{
    width: 90%;
    margin: auto;
    text-align: center;
}
.copyright p{
    color: white;
    margin-top: 5px;
    font-size: 17px;
    padding: 20px 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.308);
}
.copyright .link{
    display: inline;
    padding: 15px;
}
.link a{
    text-decoration: none;
    color: blue;
    padding: 15px;
    font-size: 20px;
}

